<!DOCTYPE html>
<html>
  <head>
    <title>Budget App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'index' %>
    <script src="https://kit.fontawesome.com/50bb231d0e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Questrial">
    <style>
      html {
        font-family: Questrial, Arial;
      }
    </style>
  </head>

  <body>
    <%= yield %>
    <% if user_signed_in? %>
      <hr />
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    <% end %>
  </body>
</html>
