<!DOCTYPE html>
<html>
  <head>
    <title>Budget App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" href="/favicon.png">

    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Questrial">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'index' %>
    <script src="https://kit.fontawesome.com/50bb231d0e.js" crossorigin="anonymous"></script>
    <style>
      html { font-family: Questrial, Arial; }
    </style>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>
    <% if user_signed_in? %>
      <div class='rounded bg-blue-900 p-2 w-full text-right underline'>
        <div class='bg-white text-blue-900 pt-1 pb-1 pr-3 rounded'>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        </div>
      </div>
    <% end %>
  </body>
</html>
